.HPBarRoot {
  height: 100%;
  width: 100%;

  z-index: -1;
}

#FinalBossHPContainer {
  flow-children: down;
  visibility: collapse;
  horizontal-align: center;

  width: 710px;
  margin-top: 100px;
}

#BossProgressBar {
  height: 36px;
  width: 100%;

  border-radius: 4px;
  border: 3px solid #444;
  background-color: black;
  box-shadow: fill #000 -2px -2px 4px 4px;
}

#BossProgressBar_Left {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#320000),
    color-stop(0.3, #ff4a07),
    color-stop(0.5, #ff4a07),
    to(#320000)
  );
}

#BossProgressBar_Right {
  background-color: gradient(
    linear,
    0% 0%,
    100% 0%,
    from(#222222ff),
    to(black)
  );
}

#HPLabel {
  font-size: 25px;
  color: white;
  horizontal-align: center;

  margin-top: -32px;
}